<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GCD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GCD信号量.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GCD定时器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>GCD延时执行.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GCD线程组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D09214551D686C71004B7D2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D092146E1D686C71004B7D2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D09214791D686C71004B7D2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D092149E1D6871D1004B7D2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D09214B61D6871D1004B7D2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D09214C11D6871D1004B7D2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D09214E31D68A458004B7D2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D09214FB1D68A459004B7D2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D09215061D68A459004B7D2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D09215281D68A7AE004B7D2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D09215401D68A7AE004B7D2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D092154B1D68A7AE004B7D2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D092156D1D68AC27004B7D2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D09215851D68AC27004B7D2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D09215901D68AC27004B7D2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
